<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <title>Employees</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


</head>
<body>


<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid ">
        <span class="navbar-brand">
                <span class="fw-bold" th:text="${admin.getEmail()}"></span>
                <span> with roles: </span>
                <span th:each="role, iterStat : ${admin.getRoles()}">
                    <span th:text="${role.getNoPrefix()}"></span>
                    <span th:if="${!iterStat.last}">, </span>
                </span>

            </span>


            <ul class="navbar-nav  ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" th:action="@{/logout1}">logout</a>
                </li>
            </ul>

        </div>
    </nav>

</header>

<div class="container">

    <div class="row">
        <div class="col-2 ">
            <nav class="nav mt-3 nav-pills flex-column ">
                <div th:each="role, iterStat : ${admin.getRoles()}">
                    <div th:if="${role.getNoPrefix().equals('ADMIN')}">
                        <a class="nav-link active" aria-current="page" href="#">Admin</a>
                    </div>
                    <div th:if="${role.getNoPrefix().equals('USER')}">
                        <a class="nav-link" href="/user">User</a>
                    </div>
                </div>


            </nav>
        </div>


        <div class="col-10">

            <div class="p-3 mb-2 bg-light text-dark">
                <p class="fw-bold fs-4">Admin panel</p>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">User table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/addNewUser">New User</a>
                    </li>

                </ul>

                <div class="card">

                    <div class="card-header">
                        AllUsers
                    </div>
                    <div class="card-body">
                        <table class="table table-striped" th:border="1">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Обновить</th>
                                <th>Удалить</th>
                            </tr>
                            </thead>

                            <tbody>

                            <tr th:each="user, status  : ${allUsers}">
                                <td th:utext="${user.getId()}"></td>
                                <td th:utext="${user.getName()}"></td>
                                <td th:utext="${user.getSurname()}"></td>
                                <td th:utext="${user.getAge()}"></td>
                                <td th:utext="${user.getEmail()}"></td>
                                <td>
                                    <span th:each="role, iterStat : ${user.getRoles()}">
                                        <span th:text="${role.getNoPrefix()}"></span>
                                        <span th:if="${!iterStat.last}">, </span>
                                    </span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                            th:data-bs-target="${'#updateModal'+user.getId()}">
                                        Обновить
                                    </button>
                                </td>

                                <form action="#" data-th-action="@{|/admin/userEdit/${user.getId()}|}" method="post"
                                      th:object="${user}">

                                    <div class="modal fade" th:id="${'updateModal'+user.getId()}" tabindex="-1"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Обновить пользователя </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">

                                                    <!--форма-->
                                                    <div class="mb-3 row text-center">
                                                        <label for="id" class="form-label fw-bold">ID</label>
                                                        <div class="col-sm-10 mx-auto">

                                                            <input type="text" class="form-control user-id"
                                                                   th:value="${user.getId()}"
                                                                   th:name="id"
                                                                   id="id" readonly>
                                                        </div>
                                                    </div>


                                                    <div class="mb-3 row text-center">
                                                        <label for="name" class="form-label fw-bold">Имя</label>
                                                        <div class="col-sm-10 mx-auto">
                                                            <!--field - появляется в контроллере, но -->
                                                            <input type="text" class="form-control user-name"
                                                                   th:value="${user.getName()}"
                                                                   th:name="name"
                                                                   id="name"
                                                                   required>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 row text-center">
                                                        <label for="surName" class="form-label fw-bold">Фамилия</label>
                                                        <div class="col-sm-10 mx-auto">
                                                            <input type="text" class="form-control user-sur-name"
                                                                   th:value="${user.getSurname()}"
                                                                   th:name="surname"
                                                                   id="surName"
                                                                   required>
                                                        </div>
                                                    </div>

                                                    <div class="mb-3 row text-center">
                                                        <label for="age" class="form-label fw-bold">Возраст</label>
                                                        <div class="col-sm-10 mx-auto">
                                                            <input type="text" class="form-control user-age"
                                                                   th:value="${user.getAge()}"
                                                                   th:name="age"
                                                                   id="age">
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 row text-center">
                                                        <label for="exampleInputEmail1" class="form-label fw-bold">Email
                                                            address</label>
                                                        <div class="col-sm-10 mx-auto">
                                                            <input type="email" class="form-control user-email"
                                                                   th:value="${user.getEmail()}"
                                                                   th:name="email"
                                                                   id="exampleInputEmail1"
                                                                   aria-describedby="emailHelp"
                                                                   required>
                                                            <div id="emailHelp" class="form-text">We'll never share your
                                                                email with anyone else.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 row text-center">
                                                        <label for="delInputPassword1"
                                                               class="form-label fw-bold">Пароль</label>
                                                        <div class="col-sm-10 mx-auto">
                                                            <input type="password" class="form-control user-password"
                                                                   th:value="${user.getPassword()}"
                                                                   th:name="password"
                                                                   id="delInputPassword1">
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 row text-center">
                                                        <label for="delInputPassword1"
                                                               class="form-label fw-bold">Роли:</label>
                                                        <div class="col-sm-10 mx-auto">
                                                            <select class="form-select user-roles" multiple
                                                                    aria-label="multiple select example"
                                                                    th:name="roles">
                                                                <div th:each="role : ${allRoles}">
                                                                    <option th:utext="${role.getName()}"
                                                                            th:value="${role.getId()}"
                                                                            th:selected="${user.roles.contains(role)}"
                                                                    ></option>
                                                                </div>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <!--  конец формы -->
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close
                                                    </button>
                                                    <button type="submit" class="btn btn-primary save-button"
                                                            id="save-user-button" th:object="${user.getId()}">Save
                                                        changes
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <td>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                            th:data-bs-target="${'#delModal'+user.getId()}">
                                        Удалить
                                    </button>
                                </td>
                                <!-- delModal -->
                                <form action="#" data-th-action="@{|/admin/userDelete/${user.getId()}|}">
                                    <input type="hidden" name="userId" th:value="${user.getId()}"/>

                                    <div class="modal fade" th:id="${'delModal'+user.getId()}" tabindex="-1"
                                         aria-labelledby="delModalLabel" aria-hidden="true">

                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="del-modal-title" id="delModalLabel">Удаление
                                                        пользователя</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body  ">


                                                    <fieldset disabled>
                                                        <!--форма-->
                                                        <div class="mb-3 row">
                                                            <label for="del-id"
                                                                   class="form-label fw-bold text-center">ID</label>
                                                            <div class="col-sm-10 mx-auto">
                                                                <input type="text" class="form-control user-id"
                                                                       th:value="${user.getId()}"
                                                                       th:name="id"
                                                                       id="del-id" readonly>
                                                            </div>
                                                        </div>

                                                        <div class="mb-3 row">
                                                            <label for="del-name"
                                                                   class="form-label fw-bold text-center">Имя</label>
                                                            <div class="col-sm-10 mx-auto">
                                                                <input type="text" class="form-control user-name"
                                                                       th:value="${user.getName()}"
                                                                       th:name="name"
                                                                       id="del-name">
                                                            </div>
                                                        </div>
                                                        <div class="mb-3 row">
                                                            <label for="del-surName"
                                                                   class="form-label fw-bold text-center">Фамилия</label>
                                                            <div class="col-sm-10 mx-auto">
                                                                <input type="text" class="form-control user-sur-name"
                                                                       th:value="${user.getSurname()}"
                                                                       th:name="surname"
                                                                       id="del-surName">
                                                            </div>
                                                        </div>

                                                        <div class="mb-3 row">
                                                            <label for="del-age"
                                                                   class="form-label fw-bold text-center">Возраст</label>
                                                            <div class="col-sm-10 mx-auto">
                                                                <input type="text" class="form-control user-age"
                                                                       th:value="${user.getAge()}"
                                                                       th:name="age"
                                                                       id="del-age">
                                                            </div>
                                                        </div>
                                                        <div class="mb-3 row">
                                                            <label for="del-exampleInputEmail1"
                                                                   class="form-label fw-bold text-center">Email
                                                                address</label>
                                                            <div class="col-sm-10 mx-auto">
                                                                <input type="email" class="form-control user-email"
                                                                       th:value="${user.getEmail()}"
                                                                       th:name="email"
                                                                       id="del-exampleInputEmail1"
                                                                       aria-describedby="emailHelp">
                                                                <div id="del-emailHelp" class="form-text">We'll never
                                                                    share your
                                                                    email with anyone else.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="mb-3 row text-center ">
                                                            <label for="roles" class="form-label fw-bold"> Роли:</label>
                                                            <div class="col-sm-10 mx-auto">
                                                                <select id="roles" class="form-select user-roles"
                                                                        multiple
                                                                        aria-label="multiple select example"
                                                                        th:name="roles">
                                                                    <div th:each="role : ${allRoles}">
                                                                        <option th:utext="${role.getName()}"
                                                                                th:value="${role.getId()}"
                                                                                th:selected="${user.roles.contains(role)}"
                                                                        ></option>
                                                                    </div>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <!-- конец формы-->
                                                    </fieldset>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close
                                                    </button>
                                                    <button type="submit" class="btn btn-danger"
                                                    >Delete User
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="314"></script>
</body>


</body>
</html>
